streamlit==1.27.0
langchain==1.0.0
langchain-chroma==0.0.2
git+https://github.com/groq-ai/langchain-groq.git
langchain-huggingface==0.0.7
langchain-openai==0.0.8
langchain-community==0.0.11
langchain-core==0.0.6
langchain-text-splitters==0.0.5
faiss-cpu==1.7.4
python-dotenv==1.0.0
openai==1.31.0
ollama==0.0.6
